@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.container {
  max-width: 100vw;
  min-height: 100vh;
  align-items: center;
  background-color: hsl(130deg, 56%, 86%);
  display: grid;
  margin-bottom: 20vh;
  grid-row-gap: 5vh;
}
.container .card-intro {
  text-align: center;
  max-width: clamp(45ch, 90vw, 75ch);
  justify-self: center;
  margin-block: 5vh;
  position: relative;
  isolation: isolate;
}
.container .card-intro h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  color: rgb(62, 90, 66);
  z-index: 2;
  position: relative;
}
.container .card-intro p {
  font-size: clamp(15px, 5vw, 17px);
  color: rgb(63, 102, 68);
  z-index: 2;
  position: relative;
}
.container .card-intro img {
  position: absolute;
  top: -40%;
  left: -10%;
  -webkit-mask-image: linear-gradient(180deg, rgba(199, 239, 206, 0) 1%, black 100%);
  mask-image: linear-gradient(180deg, rgba(199, 239, 206, 0) 1%, black 100%);
}
.container .cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  z-index: 2;
  grid-row-gap: 5vh;
  grid-column-gap: 3vw;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 25px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card .face img {
  transition: 0.2s;
  height: 250px;
}
.container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
.container .card .face.face2 {
  transition: 0.5s;
}
.container .card .face.face2 h3 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #fff;
  transition: 0.2s;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.801);
  z-index: 10;
}
.container .card:hover .face.face2 {
  height: 0px;
}
.container .card:hover .face.face2 img,
.container .card:hover .face.face2 h3 {
  opacity: 0;
}

.regular .orange {
  background-color: hsl(45deg, 98%, 51%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .currant {
  background-color: hsl(358deg, 25%, 43%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .lime {
  background-color: hsl(64deg, 64%, 61%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .melon {
  background-color: hsl(13deg, 70%, 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .pine {
  background-color: hsl(51deg, 91%, 82%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .strawberry {
  background-color: hsl(12deg, 86%, 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.regular .card:nth-child(1) .face.face2 {
  background: hsl(45deg, 98%, 51%);
  background: linear-gradient(180deg, hsl(45deg, 98%, 51%) 40%, hsl(29deg, 98%, 50%) 100%);
  border-radius: 25px;
}
.regular .card:nth-child(2) .face.face2 {
  background: hsl(358deg, 25%, 43%);
  background: linear-gradient(180deg, hsl(358deg, 25%, 43%) 40%, hsl(250deg, 9%, 27%) 100%);
  border-radius: 25px;
}
.regular .card:nth-child(3) .face.face2 {
  background: hsl(64deg, 64%, 61%);
  background: linear-gradient(180deg, hsl(64deg, 64%, 61%) 40%, hsl(87deg, 46%, 60%) 100%);
  border-radius: 25px;
}
.regular .card:nth-child(4) .face.face2 {
  background: hsl(13deg, 70%, 65%);
  background: linear-gradient(180deg, hsl(13deg, 70%, 65%) 40%, hsl(87deg, 68%, 35%) 100%);
  border-radius: 25px;
}
.regular .card:nth-child(5) .face.face2 {
  background: hsl(51deg, 91%, 82%);
  background: linear-gradient(180deg, hsl(51deg, 91%, 82%) 40%, hsl(38deg, 91%, 55%) 100%);
  border-radius: 25px;
}
.regular .card:nth-child(6) .face.face2 {
  background: hsl(12deg, 86%, 70%);
  background: linear-gradient(180deg, hsl(12deg, 86%, 70%) 40%, hsl(2deg, 84%, 45%) 100%);
  border-radius: 25px;
}

.exotic .passion {
  background-color: hsl(51deg, 99%, 44%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.exotic .pome {
  background-color: hsl(3deg, 94%, 68%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.exotic .kiwi {
  background-color: hsl(83deg, 86%, 41%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.exotic .card:nth-child(1) .face.face2 {
  background: hsl(51deg, 99%, 44%);
  background: linear-gradient(180deg, hsl(51deg, 99%, 44%) 39%, hsl(7deg, 37%, 35%) 100%);
  border-radius: 25px;
}
.exotic .card:nth-child(2) .face.face2 {
  background: hsl(3deg, 94%, 68%);
  background: linear-gradient(180deg, hsl(3deg, 94%, 68%) 39%, hsl(355deg, 80%, 51%) 100%);
  border-radius: 25px;
}
.exotic .card:nth-child(3) .face.face2 {
  background: hsl(83deg, 86%, 41%);
  background: linear-gradient(180deg, hsl(83deg, 86%, 41%) 39%, hsl(40deg, 50%, 35%) 100%);
  border-radius: 25px;
}

@media screen and (max-width: 840px) {
  .cards-list {
    grid-gap: 0%;
  }
  .container {
    grid-gap: 0%;
  }
}/*# sourceMappingURL=exotic.css.map */